<!-- DASHBOARD -->
<div class="row">
  <div class="large-10 large-centered columns tabs-container">
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#panel1">Profile</a></li>
      <li class="tab-title"><a href="#panel2">Listing</a></li>
      <li class="tab-title"><a href="#panel3">Borrowed</a></li>
    </ul>
    <div class="tabs-content">
      <div class="content active" id="panel1">
        <div class="user_details">
             <p>Name: <%= current_user.name %></p>
             <p>Email: <%= current_user.email %></p>
             <% if current_user.profile_avatar %>
              <img src="<%= current_user.profile_avatar %>" alt="">
             <% else %>
             <p>Avatar: No Avatar</p>
             <% end %>
             <p>Postcode: <%= current_user.postcode %></p>
             <p>Created Account On: <%= current_user.created_at %></p>
             <p>Last Updated Account On: <%= current_user.updated_at %></p>
        </div>
      </div>
      <div class="content" id="panel2">
        <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
      </div>
      <div class="content" id="panel3">
        <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
      </div>
      <div class="content" id="panel4">
        <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
      </div>
    </div>
  </div>
  <!-- <#%= form_tag '/user_edit', method: 'put' do %>
    <button class="button alert">Delete User</button>
  <#% end %> -->
</div>
