<!-- HERO -->
<section class="hero">
  <div class="row intro">

    <!-- SEARCH -->
    <form class="search-bar" action="search" method="get">
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="small-5 columns">
          <input name="search_input" class="search-input" type="text" placeholder="search items">
        </div>
        <div class="small-5 columns">
          <input name="search_location_input" class="search-input" type="text" placeholder="search location">
        </div>
        <div class="small-2 columns">
          <button class="button postfix">search</button>
        </div>
      </div>
    </div>
</form>

  </div>
</section>

<!-- TILES -->
<div id="masonry-grid">
  <div class="grid-sizer"></div>
 <!--  <div class="gutter-sizer"></div> -->
  <% @items.each do |item| %>
    <div class="grid-item">
      <div class="tile">
        <div class="item-img">
            <% if ItemImage.find_by(item_id: item.id) %>
              <a href="#">
                <% if ItemImage.find_by(item_id: item.id)[:image_path].nil? %>
                  <img src="<%= ItemImage.find_by(item_id: item.id).image_path_backup %>">
                <% else %>
                  <img src="<%= ItemImage.find_by(item_id: item.id).image_path %>">
                <% end %>
              </a>
            <% else %>
              <p>no image</p>
            <% end %>
            <a id="cover_image" data-id="<%= item.id%>" href="#"></a>
        </div>
        <a href="#"><h3><%= item.title %></h3></a>
        <h5>$<%= item.price %></h5>
        <p><%= item.city %></p>
        <h5 class="<%= item.loan_status == 'available'? 'available' : 'onloan'  %>"><%= item.loan_status %></h5>
        <a class="button expand view-listing" href="/items/<%= item.id %>">View Listing</a>
      </div>
    </div>
  <% end %>
  </div>

<script>

// var options1 = {
//   url: 'http://localhost:3000/api/item_images',
//   type: 'get',
//   dataType: 'json'
// };

// $.ajax(options1).done(function(data) {

//       $('a#cover_image').each(function(index){
//           var value = $( this ).data('id')

//         var imageFirst = getObjects(data, 'item_id', String(value))

//         $(this).append("<img src='" +imageFirst[0].image_path +"'>")
//         // image_path
//       });

//     });

// function getObjects(obj, key, val) {
//     var objects = [];
//     for (var i in obj) {
//         if (!obj.hasOwnProperty(i)) continue;
//         if (typeof obj[i] == 'object') {
//             objects = objects.concat(getObjects(obj[i], key, val));
//         } else
//         //if key matches and value matches or if key matches and value is not passed (eliminating the case where key matches but passed value does not)
//         if (i == key && obj[i] == val || i == key && val == '') { //
//             objects.push(obj);
//         } else if (obj[i] == val && key == ''){
//             //only add if the object is not already in the array
//             if (objects.lastIndexOf(obj) == -1){
//                 objects.push(obj);
//             }
//         }
//     }
//     return objects;
// }

</script>

