<h1 class="text-center">Create Listing</h1>
<div class="row">
	<div class="large-10 large-centered columns">

	<%= form_for @item do |f| %>

	  <div class="row">
	    <div class="large-12 columns">
	      <label>Listing Title
	        <%= f.text_field :title %>
	      </label>
	    </div>
	  </div>

	  <!-- <div class="row">

	    <div class="large-6 columns">
	      <label>List Start Date
	        <%#= date_field(:item, :list_start) %>
	      </label>
	    </div>
	    <div class="large-6 columns">
	      <label>List End Date
	        <%#= date_field(:item, :list_end) %>
	      </label>
	    </div>

	  </div>


	  </div> -->


	  <div class="row">
	    <div class="large-12 columns">
	      <label>Item Category
	      <% ItemType.all.each do |item_type| %>
	        <select>
	          <option value="<%= item_type.id %>"><%= item_type.name %></option>
	        </select>
	      <% end %>
	      </label>
	    </div>
	  </div>

	  <div class="row">
	    <div class="large-12 columns">
	      <div class="row collapse prefix-radius">
	        <div class="small-3 columns">
	          <span class="prefix">$</span>
	        </div>
	        <div class="small-9 columns">
	          <%= number_field(:item, :price, in: 0.0..100000.0, step: 0.5) %>
	        </div>
	      </div>
	    </div>
	  </div>

	  <div class="row">
	    <div class="large-12 columns">
	      <label>Listing Location
	        <input type="text" name="item[location]" placeholder="postcode">
	      </label>
	    </div>
	  </div>


	  <div class="row">
	    <div class="large-12 columns">
	      <label>Listing Description
	        <textarea></textarea>
	      </label>
	    </div>
	  </div>

	  <button class="button right">Upload Image &raquo;</button>
	<% end %>
	</div>
</div>
