<div class="row top-margin">
  <!-- IMAGES -->
  <div class="medium-8 columns">
    
    <% if ItemImage.where(item_id: params[:id]).count == 1 %>
      <img class="th" src="<%= @item.item_images.first.image_path_backup %>">
    <% else %>
      <img class="th" src="<%= @item.item_images.first.image_path_backup %>">
      <ul class="small-block-grid-4 image-list">
    <% @item.item_images.each do |image| %>
      <li>
        <a class="th" href="../img/demos/demo2.png">
          <img src="<%= image.image_path_backup %>">
        </a>
      </li>
      <% end %>
      </ul>
    <% end %>

  </div>

  <!-- INFO -->
  <div class="medium-4 columns highlighted-info">
    <h2><%= @item.title %></h2>
    <h4>$<%= @item.price %></h4>
    <p>postcode: <%= @item.location %></p>
    <button class="button expand round">Contact Lender</button>
    <button class="button success expand round" data-id="<%= @item.id %>">Reserve Item</button>
  </div>
</div>

<div class="row">
  <div class="medium-8 columns">
    <p><%= @item.item_details %></p>
  </div>
</div>

<script>
  $('.success').on('click',function(){
    // console.log($(this).data('loan_status'));
    var itemId= $(this).data('id');
    // +itemId+
      // status
      //  var that = this;
       $(this).toggleClass('success alert');
    var options = {
      url: '/api/items/'+itemId,
      type: 'put' ,
      // contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
      dataType: 'json' ,
      data: {loan_status: "reserved"}
    }
    // var status = "reserved"
    // $.post('/items', item.loan_status);
    $.ajax(options).done(function(data){
      console.log(data);
    })
  })
  $('.alert').on('click',function(){
    $(this).toggleClass('alert success')
    var itemId= $(this).data('id');
    var options = {
      url: '/api/items/'+itemId,
      type: 'put',
      // contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
      dataType: 'json' ,
      data: {loan_status: "available"}
    }
    $.ajax(options).done(function(data){
      $(this).append('<p>This Item is reserved</p>');
    })
  })
</script>