<div class="row">
  <!-- IMAGES -->
  <div class="medium-8 columns">
    <% if ItemImage.where(item_id: params[:id]).count == 1 %>
      <img class="th" src="<%= @item.item_images.first.image_path %>">
    <% else %>
      <img class="th" src="<%= @item.item_images.first.image_path %>">
      <ul class="small-block-grid-4 image-list">
    <% @item.item_images.each do |image| %>
      <li>
        <a class="th" href="../img/demos/demo2.png">
          <img src="<%= image.image_path %>">
        </a>
      </li>
      <% end %>
      </ul>
    <% end %>
  </div>
  <div class="medium-4 columns highlighted-info">
    <h2><i class="fi-torso"></i><%= @item.title %></h2>
    <h4>$<%= @item.price %></h4>
    <p><%= @item.location %></p>
    <button class="button secondary expand round">Contact Lender</button>
  </div>
</div>
