<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "BlueShare" %></title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYcjiczqLznu4O0xFf8NAHvc-ikR1xG1o"></script>
    <link rel="stylesheet" href="https://raw.githubusercontent.com/sachinchoolur/lightslider/master/src/css/lightslider.css">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
  </head>

  <body>

		<!-- NAVIGATION -->
		<nav class="top-bar" data-topbar role="navigation">
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href="/">Agra Share</a></h1>
	    </li>
	     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  </ul>

	  <section class="top-bar-section">
	    <!-- Right Nav Section -->
      <ul class="right">
           <% if logged_in? %>
             <li class="has-dropdown">
              <a><%= current_user.name %></a>
  	          <ul class="dropdown">
  	            <li><a href="<%= user_path %>">Go to Profile</a></li>
                <%= form_tag "/logout", method: 'delete' do %>
                  <li><a href=""><button class="button">Logout</button></a></li>
                <% end %>
                <li class="active"><a href="<%= edit_profile_path %>">Edit Profile</a></li>
  	         </ul>
	          </li>
          <% else %>
            <li><a href="<%= signup_path %>">Signup</a></li>
            <li><a href="/login">Login</a></li>
          <% end %>
	        <li class="active"><a href="<%= new_item_path	 %>">Create Listing</a></li>
	    </ul>
	  </section>
	</nav>

    <%= yield %>




<% if request.path == "/search" %>

<% else %>
<footer>
    <div id="footer" class="row">
      <div class="large-4 columns">
        <h2 class="text-center"><i class="fi-share"></i></h2>
        <p>AGRA SHARE is a platform for sharing agricultural producst. Lenders can create a listing for their items, upload images, set a price and change the loan status.</p>
      </div>
      <div class="large-4 columns">
        <h2 class="text-center"><i class="fi-bookmark"></i></h2>
        <p>Borrowers can view the listing, reserve the item and contact the lender.</p>
      </div>
      <div class="large-4 columns">
        <h2 class="text-center"><i class="fi-social-github"></i></h2>
        <p>Created by Tobias Letcher, Asep Norzai, Ravi Chada and Kylie Sy. All images are not owned by us.</p>
        <p>Github: <a href="https://github.com/kksy/Project3-BlueShare">https://github.com/kksy/Project3-BlueShare</a></p>
      </div>
      
    </div>
</footer>
<% end %>
  </body>



</html>
